/* Hide scrollbar but keep functionality */
.best-seller-inner-wrapper::-webkit-scrollbar {
    display: none;
}

/* Best seller wrapper, image */
.best-seller-inner-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.best-seller-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* End- Best seller wrapper, image */

/* Custom Scroll bar CSS */
.best-seller-container {
  position: relative;
}

.scroll-bar {
  position: relative;
  height: 4px;
  background: #DDD6D7;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.2s ease;
}

.scroll-bar:hover {
  height: 6px;
}

.scroll-bar-thumb {
  position: absolute;
  height: 100%;
  background: #231F20;
  border-radius: 6px;
  width: 0;
  left: 0;
  transition: background 0.2s ease;
}

.scroll-bar:hover .scroll-bar-thumb {
  background: #231F20;
}
/* End- Custom Scroll bar CSS */

/* Responsive styles best seller image wrapper */
@media screen and (min-width: 768px){
  .best-seller-image-wrapper .primary-image,
  .best-seller-image-wrapper .secondary-image {
      width: 355px;
      height: 355px;
  }
}
/* End- Responsive styles best seller image wrapper */